*{
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    color:black;
}

body{
    height: 100%;
    background-color: rgb(215, 237, 250);
}

.top{
    background-color: rgb(56, 78, 112);
    height: 50px;
    width: 100%;
    
}
.title{
    text-align: center;
    font-size: 1.2em;

}
.title a{
    color:rgb(255, 255, 255);
}
.menu{
    position: fixed;
    width: 100%;
    padding-top:60px;
}
.menu li{
    color:rgb(96, 107, 107);
    font-size: 0.8em;
    display: inline;
    padding-right: 30px;
}

.login{
    float: right;
}
.login a{
    color:rgb(115, 115, 115);
}
.middle{
    display: flex;
    text-align: center;
    color:white;
    justify-content: center;
    align-items: center;
}
.goGame{
    position:fixed;
    top:20px;
}
.memo{
    height: 80vh;
    width: 90%;
    background-color: white;
    margin-top:50px;
}
.main{
    
}