* {
    box-sizing: border-box;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;

  }
  
  body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      padding: 0;
      background:linear-gradient(#ffd6d8 20%, #fffbc5, #ffd7b0) ;
  }
  
  #container {
      position: relative;
      width: 90%;
      height: 80%;
      box-shadow: 0 0 15px 1px #3b3b41;
      background-color: rgba(10, 10, 10, 0.3);
      border-radius: 15px;
  }
  
  #input {
      width: 180px;
      height: 45px;
      position: absolute;
      bottom: 0;
      left: 50%;
      padding: 10px;
      margin-bottom: 20px;
      box-shadow:0 0 25px 3px rgba(186, 122, 199, 0.654);
      transform: translateX(-50%);
      font-size: 16px;
      border: none;
      border-radius: 10px;
  }
  
  .word {
      position: absolute;
      color: #ffffff;
      font-size: 20px;
      font-weight: 500;
  }
 
  
  #demo{
    width: 20%;
    height: 40px;
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 5px;
    text-align: center;
    color: white;
    padding-top:8px;
    position: fixed;
    top:20px;
    font-size: 1.3em;

  } 

  #stopBtn{
    width:35px;
    height: 35px;
    text-align: center;
    color:rgba(255, 158, 158, 0.819);
    font-size: 0.7em;
    position:fixed;
    top:8px;
    left:80%;
    cursor: pointer;
  }

  #stopBtn h2{
    position:relative;
    text-align: center;
  }

  #retryBtn {
    position: fixed;
    top: 10px;
    left: 85%;
    font-size: 0.7em;
    color: #bc91d8;
    cursor: pointer;
  }

